[Unit]
Description=First boot services
DefaultDependencies=no
IgnoreOnIsolate=true
After=local-fs.target
Requires=local-fs.target
After=system-update.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/lib/systemd/systemd-rc-once
StandardOutput=syslog+console

