[Unit]
Description=Rauc Good-marking Service

[Service]
#Type=dbus
#BusName=de.pengutronix.rauc
#User=root
ExecStart=@BINDIR@/rauc status mark-good

[Install]
WantedBy=multi-user.target

